//responsive font
html {
    font-size: 1rem;
    font-family: $montserrat;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    input, button{
      outline: transparent;
      &:active{
        outline: transparent;
      }
      &:visited{
        outline: transparent;
      }
  }

}

  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.1rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.3rem;
    }
  }
body{
    background-color: $bg;
    margin: 0;
    font-family: $montserrat;
    color:$white;

    
   
}
.container-fluid{
    margin: 0;
    padding: 0;
   
}
.hidden{
    display:none;
}
.jumbotron{
    //background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //height: 110vh;

    padding: 0;
  
    
}


.jumbotron-login{
  background-image: url('../images/login/background_login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding: 0;
 
.login-page{
  padding-top: 100px;
  display: grid;
}
h1{
  font-size: 2rem;
  padding: 20px;
 
}
.form-div{
  background-color: rgba($color: #000000, $alpha: 0.5);
  //height: auto;
  //padding-top: 50px;
  //display: inline-block;

  
  form{
    &:active{
      outline: none;
    }
   margin: 50px;
    input{
      border-radius: 50px;
      border: 2px gray solid;
      background-color: transparent;
      width: 50%;
      margin: 0 auto;
     
     
     
    }
  
    button{
      border-radius: 50px;
      border: 2px $yellow solid;
      background-color: transparent;
      padding-left: 20px;
      padding-right: 20px;
      color: white;
      &:hover{
        color: white;
        background-color:$yellow;
        outline:none;
      }
    }
   
  }

}

}

//All users
.single-user{
  font-family: $montserrat;
  .users-img:hover > .user-name{
    border: 5px solid red;
  }
  .user-name{
    cursor: pointer;
    &:hover{
      color: $yellow;
      transition: 0.25s;
    }
  }

}

.all-users{
  background-image: url('../images/login/background_login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 20px;
  .profile-button{
    margin: 0 auto;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid $white;
    border-radius: 50px;
    

  }
}
.media-container{
  .media-title{
    font-size: 3rem;
  }

}
