
.hero-el{
    margin-top: 50px;
    margin-left: 50px;
 
   
    
    
}
.display-2{
    font-weight: 500;
}

.hero-el.buttons{
    margin-top: 100px;
}

.hero-el.subtitle{
    margin-top: 0;
}

.display-6{
    font-weight: 200;
}



