// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');

//Define colours
$bg:#2A2B2B;
$nav-line:rgba(255,255,255, 0.5);
$white: #FFFFFF;
$hover: #ffff00;
$btn-outline:#1D1D1D;
$footer: #151515;
//Define fonts
$montserrat: 'Montserrat', sans-serif;

